@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
}

body{
    background-color: #030B30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgb(8,10,82);
    background: linear-gradient(180deg, rgba(8,10,82,1) 4%, rgba(8,10,82,1) 21%, rgba(17,21,34,1) 51%, rgba(18,24,30,1) 69%, rgba(18,24,30,1) 84%, rgba(17,18,17,1) 100%);
}

.banner img{
    width: 10%;
    height: 10%;
}

.banner h1{
    font-size: 4em;
}

.banner p{
    font-size: 1.5em;
}

.banner_tournament img{
    width: 50%;
    height: 50%;
    margin-top: 30px;
}

section{
    text-align: center;
    background: #F5F6FB;
    width: 100%;
    padding-bottom: 35px;
}

.title_tournaments{
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

.outline_text{
    font-size: 70px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke:
    1px black;
    position: absolute;
    left: -45px;
    top: -30px;
}

.solid_text {
    font-size: 48px;
    font-weight: bold;
    color: #223DFE; /* Texto sólido */
    position: relative;
}

.tournaments{
    text-align: center;
    padding: 50px 150px 50px 150px;
}

.tournaments p{
    font-size: 1.2em;
    padding: 0px 156px;
}

.title_website{
    position: relative;
    display: inline-block;
    margin-top: 50px;
}



section p{
    font-size: 1.2em;
}

.website {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 20px; /* Espacio entre cajas */
    justify-content: center; /* Centra la cuadrícula en el eje horizontal */
    align-items: center; /* Asegura alineación vertical */
    width: 60%; /* Ajusta el ancho al contenido */
    margin: 0 auto; /* Centra en la pantalla */
    margin-top: 50px;
    
}

.box1, .box2, .box3, .box4 {
    background-color: transparent;
    height: 50%;
    padding: 50px;
    border-radius: 15px;
    border: 1px solid #12229C;
    transition: background-color .4s, border .4s, color .4s; /* Añade las propiedades que deseas animar */
}

.box1 h5, .box2 h5, .box3 h5, .box4 h5 {
    font-size: 1.5rem;
    color: #12229C;
    transition: color .4s; /* Añade la transición para el color del texto */
}

.box1 p, .box2 p, .box3 p, .box4 p {
    font-size: 1rem;
    margin: 5px 80px;
}

.box1 img, .box2 img, .box3 img, .box4 img {
    width: 45px;
    height: 45px;
    transition: filter .4s; /* Añade la transición para el filtro de la imagen */
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    background-color: #223DFE;
    color: #fff;
}

.box1:hover h5, .box2:hover h5, .box3:hover h5, .box4:hover h5 {
    color: #fff;
}

.box1:hover img, .box2:hover img, .box3:hover img, .box4:hover img {
    filter: invert();
}

.countdown{
    margin: 50px 100px;
    width: 60%;
    height: 50vh;
    display: flex;
    background-image: url('img/contador.jpg');
    background-size: cover;
    background-position: center;
    justify-content: start;
    align-items: center;
    border-radius: 50px;
}

.countdown-descrip{
    background-color: rgba(0, 0, 0, 0.801);
    color: #fff;
    border-radius: 50px 0px 0px 50px;
    height: 50vh;
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.countdown-descrip h2{
    font-size: 2.5em;
    margin: 10px;
}

.countdown-descrip p{
    font-size: 1.5em;
    color: #223DFE;
}

.ubicacion{
    height: 74vh;
    width: 95%;
    margin-top: 4vh;
    color: white;
    display: flex;
    justify-content: space-around;
}

.ubi-title{
    color: white
    ;-webkit-box-shadow:-11px 11px 0px -2px rgba(34,61,254,1);-moz-box-shadow: -11px 11px 0px -2px rgba(34,61,254,1);
    box-shadow: -11px 9px 0px -2px rgba(34,61,254,1);
    width: 8%;
    border:1px solid rgb(34, 61, 254);
    text-align: center;
    font-size: 20px;
    margin-right: 1000px;
}

.direccion{
    display: flex;
    justify-content: center;
    text-align: left;
    height: auto;
    width: auto;
    font-size: 40px;
    padding:60px;
    align-items: center;
    margin-left: 110px;
}

.iframe{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 115px;
}

.iframe iframe{
    padding-top: 35px;
}

footer{
    width: 100%;
    height: auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    color: #fff;
    text-align: center;
    height: 100px;
    width: 100%;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img{
    width:100px;
    height: 100px;
    margin-right: 10px;
}

.footer-info{
    text-align: left;
}
